In [6]:
print("Olá, mundo!")

Olá, mundo!

In [3]:
nome = "Camila"

In [4]:
idade = 37

In [8]:
print("Olá,", nome)

Olá, Camila

In [10]:
pessoa = "Camila"
idade = 37
altura = 1.70
dev = True

In [12]:
type(nome)

str

In [13]:
type(idade)

int

In [14]:
type(altura)

float

In [15]:
type(dev)

bool

In [5]:
idade1 = 20  
idade2 = 35
idade1 + idade2
somaIdade = idade1 + idade2
print(somaIdade)

55

In [6]:
idade1 - idade2

-15

In [7]:
idade1 * idade2

700

In [8]:
idade1 / idade2

0.5714285714285714

In [9]:
adicao= idade1 + 10

30

In [10]:
idade1 - 15

5

In [11]:
idade1 * 4

80

In [12]:
idade1 / 5

4.0

In [13]:
2 *(idade1 + idade2) #primeiro soma, depois mutiplica.

110

In [14]:
2 * idade1 + 3 * idade2 / 4   # 1 esquerda, depois direita.

66.25

In [15]:
(2 * idade1 + 3 * idade2) / 4     # primeiro oque esta dentro do ()

36.25

In [ ]:
"""
Parênteses
Expoente
Mutiplicação
Divisão
Adição
Subtração
"""

In [19]:
idade1 ** 3 # multiplicação ao cubo

8000

In [21]:
# Parte inteira // indica a parte inteira de uma divisão:

idade2 // idade1

1

In [22]:
#Perceba que é diferente do resultado de: 
idade2 / idade1

1.75

In [23]:
# Módulo % : indica o resto de uma divisão

idade2 % idade1

15

In [24]:
nome= "Camila"
sobrenome= "Dantas"

In [25]:
print(nome, sobrenome)

Camila Dantas

In [27]:
print(nome + sobrenome)

CamilaDantas

In [28]:
print("Olá, ", nome, "\n", "você tem ", idade1 + 15, "anos")  # E ainda podemos inserir "quebra" na linha: "\n"

Olá,  Camila
 você tem  35 anos

In [30]:
# Usamos input para solicitar uma informação ao usário.

input(" Digite o seu nome: ")

'35'

In [32]:
idade= input("Digite sua idade")

In [33]:
print(idade)

34

In [34]:
type(idade)

str

In [ ]:
idade2= "37"
typ

In [37]:
int(input("Digite sua idade"))

34

In [40]:
idade= int(input("Digite sua idade"))

In [41]:
type(idade)

int

In [44]:
dia= "sexta-feira"
print(dia)

sexta-feira

In [45]:
dia= 32.5
print(dia)

32.5

In [46]:
dia=19

In [47]:
print(dia)

19

In [49]:
x=12
x+=1        #  x=x +1          x-=1 decremento  resultado 11
print(x)    #incremento

13